*{
    margin: 0px;
    padding: 0px;

}

body{
    font-family: Arial, sans-serif;
    background-color: wheat;
}

.logo{
    text-align: center;
}

nav{
    text-align: center;
    display: inline;
    cursor:all-scroll;
}

img{
    position:relative;
    top: 45%;
    left: 45%;
    transform: translate(-20%);
}

h2{
 text-align: center;
 color: rgb(27, 12, 12);
}

.carrera{
    background-color: rgb(104, 238, 193);
    border-radius: 30px;
    margin: 30px;
    padding: 20px;
}

@media(max-width: 768px){
    .togle-menu{
        display: block;
    }
}